QProgressBar
{
    text-align:center;
    border-radius:10px;
}
QProgressBar::chunk
{
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 green,stop:1 blue);
    border-radius:10px;
    text-align:center;
}
